<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hou 主页</title>
</head>
<body>
{#    <h1>Hello {{u.username}}</h1>#}
    <a href="/user/register/view">Register</a>
    <a href="/user/login/view">Login</a>
    <a href="/user/profile/view">Profile</a>
    <a href="/user/admin">Admin</a>
    <img src="/static?file=doge.gif"/>
    <img src="/static?file=doge1.jpg"/>
    <img src="/static?file=doge2.gif"/>
    <br>
    <br>
    <a href="/todo/all">Todo</a>
    <br>
    <br>
{#    <a href="/weibo/index?user_id={{ u.id }}">Weibo</a>#}
    <br>
    <br>
    <a href="/ajax/todo/index">Ajax Todo</a>
    <br>
    <br>
{#    <a href="/ajax/weibo/index?user_id={{ u.id }}">Ajax Weibo</a>#}
</body>
</html>